<h1>Showing the selected article</h1>

<p>
    <!--Grabs the article variable and displays the title -->
    Title: <%= @article.title %>
</p>

<%= link_to "Edit this article", edit_article_path(@article) %> |
<%= link_to "Back to articles listing", articles_path %>